body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.md-container {
    width: 80%;
    min-width: 400px;
    height: 80%;
    min-height: 400px;
}

.s-container {
    width: 60%;
    min-width: 300px;
    height: 60%;
    min-height: 300px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.align-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content {
    height: 80%;
    width: 80%;
}

.description {
    width: 60%;
    min-width: 300px;
    font-size: 1.2em;
}

.header {
    font-size: 3em;
}

.thick-hr {
    border: 3px solid black;
}

.long-hr {
    width: 100%;
}

.fixed-height {
    max-height: 700px;
    padding: 0 20px;
    overflow-y: scroll;
    scrollbar-color: black white;
    scrollbar-width: thick;
}

.btn-circle {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.hover-pointer {
    cursor: pointer;
}