.start-date-header {
    font-size: 2em;
}

.tab {
    padding: 5px;
    border-radius: 5px;
}

.tab:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

@media (max-width: 576px) {
    h1.header {
        font-size: 2em;
    }
    button.btn-circle {
        width: 30px;
        height: 30px;
    }
    button.btn-circle>svg {
        width: 16px;
        height: 16px;
    }
    .btn-container {
        width: 200px;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    h1.header {
        font-size: 2em;
    }
}


/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {}


// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {}


// XX-Large devices (larger desktops, 1400px and up) 

@media (min-width: 1400px) {} */